Repository privacytools/privacytools.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @privacytoolsIO/editorial, @JonahAragon, @BurungHantu1605, @Shifterovich, @nitrohorse

dns: fix formatting
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

browser-tweaks: fix embarassing typo
  _includes/sections/browser-tweaks.html
Owners: @privacytoolsIO/editorial

dns.html: apply @nitrohorse's wording suggestion
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

browser-tweaks & dns: apply @nitrohorse's suggestions (and fix link)
  _includes/sections/browser-tweaks.html
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

No text wrap for DNS locations
  _includes/sections/dns.html
  assets/css/style.scss
Owners: @privacytoolsIO/editorial

about:config: delete geo.enabled (#1217)
  _includes/sections/browser-tweaks.html
Owners: @privacytoolsIO/editorial

dns: document enabling Firefox TRR (#1220)
  _includes/sections/browser-tweaks.html
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

Add Gemfile.lock
  .gitignore
  Gemfile.lock
Owners: none

Add JS licenses
  _i18n/en.yml
Owners: none

Update Gemfile.lock
  Gemfile.lock
Owners: none

Upgrade some packages
  Gemfile.lock
Owners: none

Iterate on feedback
  _includes/sections/dns.html
  assets/css/style.scss
Owners: @privacytoolsIO/editorial

Add NixNet DNS
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

Remove text wrapping for DNS providers table server locations column (#1222)
  _includes/sections/dns.html
  assets/css/style.scss
Owners: @privacytoolsIO/editorial

No text wrap update
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

paste-services: fix PrivateBin website
  _includes/sections/paste-services.html
Owners: @privacytoolsIO/editorial

paste-services: fix PrivateBin website (#1228)
  _includes/sections/paste-services.html
Owners: @privacytoolsIO/editorial

Fix typos
  _includes/sections/dns.html
  _includes/sections/privacy-resources.html
Owners: @privacytoolsIO/editorial

Fix typos (#1229)
  _includes/sections/dns.html
  _includes/sections/privacy-resources.html
Owners: @privacytoolsIO/editorial

Firefox "esni" configuration fix
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

Firefox "esni" configuration fix (#1230)
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

Add source + state filtering
  _includes/sections/dns.html
  source_code.md
Owners: @privacytoolsIO/editorial

Add NixNet DNS (#1226)
  _includes/sections/dns.html
  source_code.md
Owners: @privacytoolsIO/editorial

Indicate that there is information on DoT hover
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

Indicate that there is information on DoT hover (#1232)
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

Add Resolve-DnsName
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

Center table row values
  assets/css/style.scss
Owners: @privacytoolsIO/editorial

Fix DNS table, it did contain text under it
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

added tokens to file sync page
  _i18n/en.yml
  _includes/sections/file-sync.html
Owners: @privacytoolsIO/editorial

dns: replace link to my config with ctrl.blog
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

Add Resolve-DnsName to Contributing and Issue Template
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/7_DNS_provider.md
Owners: @JonahAragon, @BurungHantu1605

Remove dig and Resolve-DnsName hyperlinks
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

Center table row values (#1235)
  assets/css/style.scss
Owners: @privacytoolsIO/editorial

Fix DNS table, it did contain text under it (#1236)
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

Add dark theme
  _includes/head.html
  _includes/nav.html
  assets/css/dark.scss
  assets/css/style.scss
  assets/js/main.js
Owners: @privacytoolsIO/editorial

Add dark theme (#1204)
  _includes/head.html
  _includes/nav.html
  assets/css/dark.scss
  assets/css/style.scss
  assets/js/main.js
Owners: @privacytoolsIO/editorial

Fix readonly and disabled input forms colors
  _includes/head.html
  assets/css/dark.scss
Owners: @privacytoolsIO/editorial

Fix LessPass GitHub link
  _includes/sections/password-managers.html
Owners: @privacytoolsIO/editorial

Fix the fix
  assets/css/dark.scss
Owners: @privacytoolsIO/editorial

dns: document usage profiles & Android automatic mode
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

.github/CODEOWNERS:

# Editorial Team
*.md @privacytoolsIO/editorial
/assets/ @privacytoolsIO/editorial
/pages/ @privacytoolsIO/editorial
/_includes/sections/ @privacytoolsIO/editorial
/index.html @privacytoolsIO/editorial

# Administration Related Files
/donate.html @JonahAragon @BurungHantu1605
/assets/js/redirects.js @JonahAragon
/.well-known/ @JonahAragon
/404.html @JonahAragon
/.github/ @JonahAragon @BurungHantu1605
/LICENSE.txt @JonahAragon @BurungHantu1605
/.travis.yml @JonahAragon @Shifterovich @nitrohorse
/CNAME @JonahAragon
/nginx/ @JonahAragon
