Repository privacytools/privacytools.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonahAragon, @BurungHantu1605, @Shifterovich, @privacytoolsIO/editorial

Update discussion issue template (#1073)
  .github/ISSUE_TEMPLATE/3_Discussion.md
Owners: @privacytoolsIO/editorial

Remove Subgraph OS
  _includes/sections/operating-systems.html
  source_code.md
Owners: @privacytoolsIO/editorial

Remove Subgraph OS (#1092)
  _includes/sections/operating-systems.html
  source_code.md
Owners: @privacytoolsIO/editorial

Cleanup merge conflicts
  _includes/sections/email-providers.html
  _includes/sections/instant-messenger.html
  _includes/sections/operating-systems.html
  _includes/sections/vpn.html
Owners: @privacytoolsIO/editorial

Cleanup merge conflicts and update package script
  _includes/sections/email-providers.html
  _includes/sections/instant-messenger.html
  _includes/sections/operating-systems.html
  _includes/sections/vpn.html
  package.json
Owners: @privacytoolsIO/editorial

Cleanup
  pages/providers/vpn.html
Owners: @privacytoolsIO/editorial

Trust minor version bumps for js-beautify
  package.json
Owners: none

Update README.md building instructions for consistency
  README.md
Owners: @privacytoolsIO/editorial

Add CI format check script
  .editorconfig
  .jsbeautifyrc
  bin/get-html-ls.js
  bin/html-beautify-check.sh
  package-lock.json
  package.json
Owners: none

Update README.md
  README.md
Owners: @privacytoolsIO/editorial

Update Travis config to run format check
  .travis.yml
  bin/html-beautify-check.sh
  package.json
Owners: @Shifterovich

Update package.json
  .lintstagedrc
  bin/html-beautify-check.sh
  package.json
Owners: none

Add .nvmrc
  .nvmrc
Owners: none

Move build.sh into bin/
  .travis.yml
  bin/build.sh
  bin/html-beautify-check.sh
Owners: @Shifterovich

Manual cleanup
  _includes/card.html
  _includes/sections/calendar-contacts-sync.html
  _includes/sections/file-encryption.html
  _includes/sections/file-sync.html
  _includes/sections/instant-messenger.html
  _includes/sections/live-operating-systems.html
  _includes/sections/mobile-operating-systems.html
  _includes/sections/notebooks.html
  _includes/sections/operating-systems.html
  _includes/sections/participate.html
  _includes/sections/password-managers.html
  _includes/sections/resources.html
  _includes/sections/router-firmware.html
Owners: @privacytoolsIO/editorial

Replace "Yes" with "Accepted", which was used in other rows
  _includes/sections/email-providers.html
Owners: @privacytoolsIO/editorial

Replace "Yes" with "Accepted", which was used in other rows (#1094)
  _includes/sections/email-providers.html
Owners: @privacytoolsIO/editorial

Add ICANN DNS providers table
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

Change "E2EE encryption" to "E2E encryption"
  _includes/sections/notebooks.html
Owners: @privacytoolsIO/editorial

nav.html: change teamchat icon
  _includes/nav.html
Owners: none

apply Jonah's suggestion on Keybase
  _includes/sections/teamchat.html
Owners: @privacytoolsIO/editorial

Jonah's & Nitrohorse's suggestions
  pages/software/teamchat.html
Owners: @privacytoolsIO/editorial

update keybase.png
  assets/img/tools/keybase.png
Owners: @privacytoolsIO/editorial

Change "E2EE encryption" to "E2E encryption" (#1099)
  _includes/sections/notebooks.html
Owners: @privacytoolsIO/editorial

Add Polish translation 🇵🇱
  _includes/nav.html
Owners: none

Add missing pastebin page to navbar
  _includes/nav.html
Owners: none

Add Polish translation to README.md
  README.md
Owners: @privacytoolsIO/editorial

Get logo from local path in README.md
  README.md
Owners: @privacytoolsIO/editorial

Add Polish translation to README.md (#1100)
  README.md
Owners: @privacytoolsIO/editorial

Get logo from local path in README.md (#1101)
  README.md
Owners: @privacytoolsIO/editorial

Add template for issues with translated sites.
  .github/ISSUE_TEMPLATE/6_Translation_Issues.md
Owners: @privacytoolsIO/editorial

Fix checkbox
  .github/ISSUE_TEMPLATE/6_Translation_Issues.md
Owners: @privacytoolsIO/editorial

Install jekyll-multiple-languages-plugin
  Gemfile
  _config.yml
  _i18n/en.yml
  _i18n/fr.yml
  _i18n/pl.yml
Owners: none

Translated using Weblate (French)
  _i18n/fr.yml
Owners: none

Translated using Weblate (Polish)
  _i18n/pl.yml
Owners: none

Update en.yml
  _i18n/en.yml
Owners: none

Install jekyll-multiple-languages-plugin
  .gitignore
  Gemfile
  _config.yml
Owners: none

Correct installation
  Gemfile
Owners: none

Remove cryptostorm
  _includes/sections/vpn.html
  assets/img/provider/Cryptostorm.png
Owners: @privacytoolsIO/editorial

Align "Tor v3: priv…" to left, to make it look beter on small screens
  _includes/footer.html
Owners: none

.github/CODEOWNERS:

# Administration Related Files
/.well-known/ @JonahAragon
/404.html @JonahAragon
/.github/ @JonahAragon @BurungHantu1605
/LICENSE.txt @JonahAragon @BurungHantu1605
/.travis.yml @Shifterovich
/CNAME @JonahAragon

# Editorial Team
*.md @privacytoolsIO/editorial
/assets/ @privacytoolsIO/editorial
/pages/ @privacytoolsIO/editorial
/_includes/sections/ @privacytoolsIO/editorial
/index.html @privacytoolsIO/editorial

/donate.html @JonahAragon @BurungHantu1605
/assets/js/redirects.js @JonahAragon
