Repository privacytools/privacytools.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonahAragon, @BurungHantu1605, @Shifterovich, @privacytoolsIO/editorial

.github/CODEOWNERS:

# Administration Related Files
/.well-known/ @JonahAragon
/404.html @JonahAragon
/.github/ @JonahAragon @BurungHantu1605
/LICENSE.txt @JonahAragon @BurungHantu1605
/.travis.yml @Shifterovich
/CNAME @JonahAragon

# Editorial Team
*.md @privacytoolsIO/editorial
/assets/ @privacytoolsIO/editorial
/pages/ @privacytoolsIO/editorial
/_includes/sections/ @privacytoolsIO/editorial
/index.html @privacytoolsIO/editorial

/donate.html @JonahAragon @BurungHantu1605
/assets/js/redirects.js @JonahAragon

Update discussion issue template
  .github/ISSUE_TEMPLATE/3_Discussion.md
Owners: @privacytoolsIO/editorial

Upgrade cards to v2 and add Dnote
  _includes/sections/notebooks.html
  assets/img/tools/Dnote.png
Owners: @privacytoolsIO/editorial

Fix GitHub links
  _includes/sections/notebooks.html
Owners: @privacytoolsIO/editorial

Add files via upload
  assets/img/layout/cubes-solid.svg
  assets/img/layout/desktop-solid.svg
Owners: @privacytoolsIO/editorial

Update vm.html
  _includes/sections/vm.html
Owners: @privacytoolsIO/editorial

Add source code
  source_code.md
Owners: @privacytoolsIO/editorial

Add Tor URL to VPN Provider website column (#1072)
  _includes/sections/email-providers.html
  _includes/sections/vpn.html
Owners: @privacytoolsIO/editorial

Highlight first columns on page load
  _includes/sections/email-providers.html
  _includes/sections/vpn.html
Owners: @privacytoolsIO/editorial

Use same vocab for "yearly price" column in Email table
  _includes/sections/email-providers.html
Owners: @privacytoolsIO/editorial

Update _includes/sections/instant-messenger.html
  _includes/sections/instant-messenger.html
Owners: @privacytoolsIO/editorial

Use same vocab for "jurisdiction" column in email section column
  _includes/sections/email-providers.html
Owners: @privacytoolsIO/editorial

Add "since" column to VPN table
  _includes/sections/vpn.html
Owners: @privacytoolsIO/editorial

GTK+ was renamed to GTK
  _includes/sections/email-clients.html
Owners: @privacytoolsIO/editorial

GTK+ was renamed to GTK (#1081)
  _includes/sections/email-clients.html
Owners: @privacytoolsIO/editorial

Update information about Thunderbird and avoid repetition
  _includes/cardv2.html
  _includes/sections/email-clients.html
Owners: @privacytoolsIO/editorial

Update information about Thunderbird and avoid repetition (#1082)
  _includes/cardv2.html
  _includes/sections/email-clients.html
Owners: @privacytoolsIO/editorial

Update logos
  assets/img/provider/StartMail.png
  assets/img/provider/StartPage.png
  assets/img/tools/F-Droid.png
  assets/img/tools/Purism.png
  assets/img/tools/Thunderbird.png
  assets/img/tools/Tor-Browser.png
Owners: @privacytoolsIO/editorial

Add Onion service URLs for cryptostorm and ExpressVPN
  _includes/sections/vpn.html
Owners: @privacytoolsIO/editorial

Center icons correctly in share buttons
  _includes/footer.html
Owners: none

Update logos (#1083)
  assets/img/provider/StartMail.png
  assets/img/provider/StartPage.png
  assets/img/tools/F-Droid.png
  assets/img/tools/Purism.png
  assets/img/tools/Thunderbird.png
  assets/img/tools/Tor-Browser.png
Owners: @privacytoolsIO/editorial

Center icons correctly in share buttons (#1085)
  _includes/footer.html
Owners: none

instant-messenger: correct supported platforms of Gajim (#1063)
  _includes/sections/instant-messenger.html
Owners: @privacytoolsIO/editorial

instant-messengers: delist Riot (#1047)
  _includes/sections/instant-messenger.html
  source_code.md
Owners: @privacytoolsIO/editorial

Remove trailing whitespace characters at the end of lines
  _includes/card.html
  _includes/sections/browser-addons.html
  _includes/sections/browser-tweaks.html
  _includes/sections/file-sharing.html
  _includes/sections/key-disclosure-law.html
  _includes/sections/search-engines.html
  _includes/sections/self-contained-networks.html
  _includes/sections/selfhosted-cloud.html
  _includes/sections/social-networks.html
  contact.md
  donate.html
  source_code.md
Owners: @privacytoolsIO/editorial, @JonahAragon, @BurungHantu1605

Update instant-messenger.html
  _includes/sections/instant-messenger.html
Owners: @privacytoolsIO/editorial

Update source_code.md
  source_code.md
Owners: @privacytoolsIO/editorial

Add NPM + Beautify
  .editorconfig
  .gitignore
  package-lock.json
  package.json
Owners: none

Update package.json
  README.md
  package.json
Owners: @privacytoolsIO/editorial

Remove space rule due to using tabs
  .editorconfig
Owners: none

Remove pre-push Husky rule; unneeded
  package.json
Owners: none

Add warnings to VPN section, encourage Tor use
  pages/providers/vpn.html
Owners: @privacytoolsIO/editorial

Test Travis matrix config
  .travis.yml
Owners: @Shifterovich

Revert "Test Travis matrix config"
  .travis.yml
Owners: @Shifterovich

Update social-news-agregator.html
  _includes/sections/social-news-agregator.html
Owners: @privacytoolsIO/editorial

Change icon to fa-newspaper
  _includes/nav.html
Owners: none

Syntax and spelling fixes
  _includes/nav.html
  _includes/sections/social-news-aggregator.html
  pages/old.html
  pages/providers/social-news-aggregator.html
  pages/providers/social-news-agregator.html
Owners: @privacytoolsIO/editorial

Update vpn.html
  pages/providers/vpn.html
Owners: @privacytoolsIO/editorial

Add Onion service URLs for cryptostorm and ExpressVPN (#1084)
  _includes/sections/vpn.html
Owners: @privacytoolsIO/editorial

Add Liberapay
  .github/FUNDING.yml
Owners: @JonahAragon, @BurungHantu1605

Highlight first columns in Email and VPN tables and consolidate column names (#1079)
  _includes/sections/email-providers.html
  _includes/sections/vpn.html
Owners: @privacytoolsIO/editorial
