Repository privacytools/privacytools.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonahAragon, @BurungHantu1605, @Shifterovich, @privacytoolsIO/editorial

Add index strings to en.yml
  _i18n/en.yml
  _i18n/pl.yml
  _includes/sections/header.html
  _includes/sections/participate.html
  _includes/sections/privacy-resources.html
  _includes/sections/quotes.html
  _includes/sections/resources.html
Owners: @privacytoolsIO/editorial

added BNB and EOS
  donate.html
Owners: @JonahAragon, @BurungHantu1605

Iterate on feedback
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

Add Calendar/Contacts page link to navbar
  _includes/nav.html
Owners: none

Fix icons looking out of place on smaller screens
  _includes/cardv2.html
Owners: none

Add Calendar/Contacts page link to navbar
  _includes/nav.html
Owners: none

Add donate.html to en.yml
  _i18n/en.yml
  donate.html
Owners: @JonahAragon, @BurungHantu1605

Align "Tor v3: priv…" to left, to make it look beter on small screens
  _includes/footer.html
Owners: none

Fix participate section
  _i18n/en.yml
  _includes/sections/participate.html
Owners: @privacytoolsIO/editorial

Add contact.md to en.yml
  Gemfile
  _config.yml
  _i18n/en.yml
  _layouts/page.html
  _plugins/expand_nested_variable_filter.rb
  contact.md
Owners: @privacytoolsIO/editorial

Fix syntax error
  contact.md
Owners: @privacytoolsIO/editorial

Flatify titles/descriptions
  _includes/head.html
Owners: none

Fix tags
  contact.md
Owners: @privacytoolsIO/editorial

Fix icons looking out of place on smaller screens
  _includes/cardv2.html
Owners: none

Add nav.html to en.yml
  _i18n/en.yml
  _includes/nav.html
Owners: none

Update information about Tor in Self-Contained Networks
  _includes/sections/self-contained-networks.html
Owners: @privacytoolsIO/editorial

Update information about Tor in Self-Contained Networks
  _includes/sections/self-contained-networks.html
Owners: @privacytoolsIO/editorial

partial changes for browser-addon
  _i18n/en.yml
  _includes/sections/browser-addons.html
Owners: @privacytoolsIO/editorial

completed browser-add on string replacement
  _i18n/en.yml
  _includes/sections/browser-addons.html
Owners: @privacytoolsIO/editorial

Update aether logo
  assets/img/tools/aether.png
Owners: @privacytoolsIO/editorial

.github/CODEOWNERS:

# Administration Related Files
/.well-known/ @JonahAragon
/404.html @JonahAragon
/.github/ @JonahAragon @BurungHantu1605
/LICENSE.txt @JonahAragon @BurungHantu1605
/.travis.yml @Shifterovich
/CNAME @JonahAragon

# Editorial Team
*.md @privacytoolsIO/editorial
/assets/ @privacytoolsIO/editorial
/pages/ @privacytoolsIO/editorial
/_includes/sections/ @privacytoolsIO/editorial
/index.html @privacytoolsIO/editorial

/donate.html @JonahAragon @BurungHantu1605
/assets/js/redirects.js @JonahAragon
