Repository privacytools/privacytools.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @privacytoolsIO/editorial, @JonahAragon, @BurungHantu1605, @Shifterovich, @nitrohorse

Update label delimiter to | for badges
  _includes/cardv2.html
Owners: none

Update cardv2.html formatting
  _includes/cardv2.html
Owners: none

Update encryption criteria
  pages/providers/vpn.html
Owners: @privacytoolsIO/editorial

Add section to validate DNS connection
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

Update vpn.html
  pages/providers/vpn.html
Owners: @privacytoolsIO/editorial

Clarify and expand VPN criteria (#1175)
  _includes/sections/vpn.html
  pages/providers/vpn.html
Owners: @privacytoolsIO/editorial

Add contrib badge to Arch Linux
  _includes/sections/operating-systems.html
Owners: @privacytoolsIO/editorial

Add tooltip for port 443 support indication
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

Add close comment tag
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @JonahAragon, @BurungHantu1605

Add contrib badge to Arch Linux (#1177)
  _includes/sections/operating-systems.html
Owners: @privacytoolsIO/editorial

Update Wire's metadata warning to increase clarity (#1172)
  _includes/cardv2.html
  _includes/sections/instant-messenger.html
Owners: @privacytoolsIO/editorial

Group in sort; update DoT term description
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

Add Netlify preview option
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @JonahAragon, @BurungHantu1605

Delete Brave.png
  assets/img/tools/Brave.png
Owners: @privacytoolsIO/editorial

Update source_code.md
  source_code.md
Owners: @privacytoolsIO/editorial

Remove Brave (#1169)
  _includes/sections/browser-recommendation.html
  assets/img/tools/Brave.png
  source_code.md
Owners: @privacytoolsIO/editorial

Signal is available on desktop platforms
  _includes/sections/instant-messenger.html
Owners: @privacytoolsIO/editorial

Change Experimental to Warning in Keybase
  _includes/sections/teamchat.html
Owners: @privacytoolsIO/editorial

Update small PR template typo (#1179)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @JonahAragon, @BurungHantu1605

Change Experimental to Warning in Keybase (#1183)
  _includes/sections/teamchat.html
Owners: @privacytoolsIO/editorial

Iterate on feedback
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

Remove color from DoT/443 values
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

Update verification section title
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

Update DNSLeakTest badge wording
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

Update CC Sync page to cardv2
  _includes/sections/calendar-contacts-sync.html
Owners: @privacytoolsIO/editorial

Update source_code.md
  source_code.md
Owners: @privacytoolsIO/editorial

Update File Encryption Tools page to cardv2
  _includes/sections/file-encryption.html
  source_code.md
Owners: @privacytoolsIO/editorial

Update Productivity Tools page to cardv2
  _includes/sections/productivity-tools.html
  source_code.md
Owners: @privacytoolsIO/editorial

Add blog to navbar
  _includes/nav.html
Owners: none

Rewrite navbar
  _includes/nav.html
  _includes/scripts.html
  assets/css/style.scss
  assets/js/main.js
Owners: @privacytoolsIO/editorial

Indicate which DNS providers support DoT over port 443 (#1178)
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

DNS: add Nebulo as worth mentioning
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

source_code: add Nebulo
  source_code.md
Owners: @privacytoolsIO/editorial

dns: add metadata warning to DoH
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

dns: fix typo in Nebulo's description
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

dns: update DoH warning text and link
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

Rewrite navbar (#1154)
  _includes/nav.html
  _includes/scripts.html
  assets/css/style.scss
  assets/js/main.js
Owners: @privacytoolsIO/editorial

Fix tooltips
  _includes/scripts.html
  assets/js/main.js
Owners: @privacytoolsIO/editorial

Add CZ.NIC DNSSEC test site
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

Clarify DNS test page expectation
  _includes/sections/dns.html
Owners: @privacytoolsIO/editorial

.github/CODEOWNERS:

# Editorial Team
*.md @privacytoolsIO/editorial
/assets/ @privacytoolsIO/editorial
/pages/ @privacytoolsIO/editorial
/_includes/sections/ @privacytoolsIO/editorial
/index.html @privacytoolsIO/editorial

# Administration Related Files
/donate.html @JonahAragon @BurungHantu1605
/assets/js/redirects.js @JonahAragon
/.well-known/ @JonahAragon
/404.html @JonahAragon
/.github/ @JonahAragon @BurungHantu1605
/LICENSE.txt @JonahAragon @BurungHantu1605
/.travis.yml @JonahAragon @Shifterovich @nitrohorse
/CNAME @JonahAragon
/nginx/ @JonahAragon
