Repository privacytools/privacytools.io, changes with the owners that .github/CODEOWNERS names for each.
All owners: @privacytoolsIO/editorial, @JonahAragon, @BurungHantu1605, @Shifterovich, @nitrohorse

.github/CODEOWNERS:

# Editorial Team
*.md @privacytoolsIO/editorial
/assets/ @privacytoolsIO/editorial
/pages/ @privacytoolsIO/editorial
/_includes/sections/ @privacytoolsIO/editorial
/index.html @privacytoolsIO/editorial

# Administration Related Files
/donate.html @JonahAragon @BurungHantu1605
/assets/js/redirects.js @JonahAragon
/.well-known/ @JonahAragon
/404.html @JonahAragon
/.github/ @JonahAragon @BurungHantu1605
/LICENSE.txt @JonahAragon @BurungHantu1605
/.travis.yml @JonahAragon @Shifterovich @nitrohorse
/CNAME @JonahAragon
/nginx/ @JonahAragon

added uberspace to hosting providers
  _includes/sections/hosting-provider.html
  assets/img/provider/uberspace.png
Owners: @privacytoolsIO/editorial

Remove mention of XMPP bridge, we don't have one (#1246)
  contact.md
Owners: @privacytoolsIO/editorial

clarify PULL_REQUST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @JonahAragon, @BurungHantu1605

CONTRIBUTING & PR TEMPLATE: request OSS instead of free
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @JonahAragon, @BurungHantu1605

added tokens for instant messenger
  _i18n/en.yml
  _includes/sections/instant-messenger.html
Owners: @privacytoolsIO/editorial

Update to style.css?v=6
  _includes/head.html
Owners: none

Add FreedomBox
  _includes/sections/file-sharing.html
  source_code.md
Owners: @privacytoolsIO/editorial

Update to style.css?v=6 (#1295)
  _includes/head.html
Owners: none

Update _includes/sections/browser-recommendation.html
  _includes/sections/browser-recommendation.html
Owners: @privacytoolsIO/editorial

Update _includes/sections/browser-recommendation.html
  _includes/sections/browser-recommendation.html
Owners: @privacytoolsIO/editorial

Browser overhaul, recommended browsers section
  _includes/sections/browser-recommendation.html
  assets/img/icons/bromite.png
  assets/img/icons/duckduckgo.png
  assets/img/icons/onionbrowser.png
  assets/img/tools/bromite.png
  assets/img/tools/onionbrowser.png
Owners: @privacytoolsIO/editorial

Update _includes/sections/browser-recommendation.html
  _includes/sections/browser-recommendation.html
Owners: @privacytoolsIO/editorial

Update browser-recommendation.html
  _includes/sections/browser-recommendation.html
Owners: @privacytoolsIO/editorial

Update _includes/sections/browser-recommendation.html
  _includes/sections/browser-recommendation.html
Owners: @privacytoolsIO/editorial

Update browser-recommendation.html
  _includes/sections/browser-recommendation.html
Owners: @privacytoolsIO/editorial

Update browser-recommendation.html
  _includes/sections/browser-recommendation.html
Owners: @privacytoolsIO/editorial

Update _includes/sections/browser-recommendation.html
  _includes/sections/browser-recommendation.html
Owners: @privacytoolsIO/editorial

Fix Privacy Browser's warning badge and format code nicely (#1275)
  _includes/sections/browser-recommendation.html
Owners: @privacytoolsIO/editorial

Update browser-recommendation.html
  _includes/sections/browser-recommendation.html
Owners: @privacytoolsIO/editorial

Update _includes/sections/browser-recommendation.html
  _includes/sections/browser-recommendation.html
Owners: @privacytoolsIO/editorial

Update browser-recommendation.html
  _includes/sections/browser-recommendation.html
Owners: @privacytoolsIO/editorial

Update browser-recommendation.html
  _includes/sections/browser-recommendation.html
Owners: @privacytoolsIO/editorial

Update browser-recommendation.html
  _includes/sections/browser-recommendation.html
Owners: @privacytoolsIO/editorial

Update browser-recommendation.html
  _includes/sections/browser-recommendation.html
Owners: @privacytoolsIO/editorial

Update browser-recommendation.html
  _includes/sections/browser-recommendation.html
Owners: @privacytoolsIO/editorial

Update browser-recommendation.html
  _includes/sections/browser-recommendation.html
Owners: @privacytoolsIO/editorial

Update browser-recommendation.html
  _includes/sections/browser-recommendation.html
Owners: @privacytoolsIO/editorial

Update browser-recommendation.html
  _includes/sections/browser-recommendation.html
Owners: @privacytoolsIO/editorial

Update browser-recommendation.html
  _includes/sections/browser-recommendation.html
Owners: @privacytoolsIO/editorial

Update browser-recommendation.html
  _includes/sections/browser-recommendation.html
Owners: @privacytoolsIO/editorial

Fix ToS;DR links
  _includes/sections/browser-addons.html
Owners: @privacytoolsIO/editorial

[WIP] Browser overhaul. About:config section. (#1262)
  _includes/sections/browser-tweaks.html
Owners: @privacytoolsIO/editorial

Fix ToS;DR links (#1300)
  _includes/sections/browser-addons.html
Owners: @privacytoolsIO/editorial

Update source_code.md
  source_code.md
Owners: @privacytoolsIO/editorial

Remove KopyKate
  _includes/sections/video-streaming.html
Owners: @privacytoolsIO/editorial

Purge KopyKate
  source_code.md
Owners: @privacytoolsIO/editorial

Fix Conflicts
  _includes/nav.html
Owners: none

Seperate Invidious and Freetube | Correct Name
  _includes/sections/video-streaming.html
Owners: @privacytoolsIO/editorial

minor fix
  _includes/sections/video-streaming.html
Owners: @privacytoolsIO/editorial

Add files via upload
  assets/img/tools/invidious.png
Owners: @privacytoolsIO/editorial
