Repository privacytools/privacytools.io, pull requests merged in 2019-09, with the labels that each got.

#1242 dns: document usage profiles & Android automatic mode
  _includes/sections/dns.html
Labels: 🗄️ dns

#1255 Add Onion service URL for Keybase
  _includes/sections/teamchat.html
Labels: tor

#1260 Don't wrap text for jurisdiction column in Email Providers table
  _includes/sections/email-providers.html
Labels: 🌐 website issue, 📧 email

#1219 dns: mention Unbound & ctrl.blog on Actually secure DNS over TLS in Unbound
  _includes/sections/dns.html
  source_code.md
Labels: feedback wanted, 🆕 software suggestion, 🗄️ dns

#1254 Replace DNSCrypt with DNSCrypt-Proxy
  _includes/sections/dns.html
  assets/img/tools/DNSCrypt-Proxy.png
  assets/img/tools/DNSCrypt.png
  source_code.md
Labels: 🗄️ dns

#1261 Add hosting providers to DNS table
  _includes/sections/dns.html
Labels: ✨ enhancement, 🗄️ dns

#1234 Add Resolve-DnsName to QNAME Minimization under DNS validation section
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/7_DNS_provider.md
  _includes/sections/dns.html
Labels: ✨ enhancement, 🗄️ dns

#1271 Remove stale source code link for Cloudflare DNS
  _includes/sections/dns.html
Labels: 🌐 website issue, 🗄️ dns

#1270 Add Productivity Tools subsection; add MAT2
  _includes/sections/productivity-tools.html
  assets/img/tools/MAT2.png
  source_code.md
Labels: feedback wanted, 🧰 productivity tools

#1190 Update Calendar/Contacts Sync Tools page to cardv2
  _includes/sections/calendar-contacts-sync.html
  source_code.md
Labels: ✨ enhancement

#1273 Delist OpenNIC & NameCoin
  _includes/sections/dns.html
  source_code.md
Labels: 🗄️ dns

#1192 Update Productivity Tools page to cardv2
  _includes/sections/productivity-tools.html
  source_code.md
Labels: ✨ enhancement, 🧰 productivity tools

#1191 Update File Encryption Software page to cardv2
  _includes/sections/file-encryption.html
  source_code.md
Labels: ✨ enhancement, 🔒 file encryption

#1246 Remove mention of XMPP bridge, we don't have one
  contact.md
Labels: 🏠 housekeeping

#1262 [WIP] Browser overhaul. About:config section.
  _includes/sections/browser-tweaks.html
Labels: feedback wanted, high priority, wip, ℹ️ help wanted, 👁️ browsers, 💬 discussion

#1297 Add FreedomBox
  _includes/sections/file-sharing.html
  source_code.md
Labels: ↔️ file sharing

#1307 Add navbar link to metadata removal tools
  _includes/nav.html
  _includes/sections/productivity-tools.html
Labels: ✨ enhancement

#1311 Update and link to contact page from navbar
  _includes/nav.html
  contact.md
Labels: ✨ enhancement

#1310 Update cardv1 website link
  _includes/card.html
  _includes/footer.html
Labels: ✨ enhancement

#1322 Remove kopimi from the footer
  _includes/footer.html
Labels: 🏠 housekeeping

#1306 browser-addons: put Privacy Badger on bottom
  _includes/sections/browser-addons.html
Labels: ⚙️ web extensions, 🦊 firefox

#1308 Convert File Sync to cardv2, update navbar title
  _includes/nav.html
  _includes/sections/file-sync.html
  pages/software/file-sync.html
  source_code.md
Labels: ✨ enhancement

#1325 Delist Blokada, link to DNS clients & add anchor for them
  _includes/sections/android-addons.html
  _includes/sections/dns.html
  assets/img/addons/Blokada.png
Labels: ❌ software removal, 🗄️ dns, 🤖 android

#1337 teamchat: link to ToSDR instead of web.archive.org
  _includes/sections/teamchat.html
Labels: 👥 team chat, 💬 discussion

#1312 Replace StumbleUpon with Mix
  _includes/footer.html
  _includes/head.html
  _sass/_vars.scss
  _sass/ptio-font.scss
  assets/css/dark.scss
  assets/css/style.scss
  assets/webfonts/ptio-font-preview.html
  assets/webfonts/ptio-font.eot
  assets/webfonts/ptio-font.svg
  assets/webfonts/ptio-font.ttf
  assets/webfonts/ptio-font.woff
  assets/webfonts/ptio-font.woff2
  font/svg/mix.svg
Labels: 🌐 website issue

#1339 DNS: add Snopyta
  _includes/sections/dns.html
Labels: 🗄️ dns

#1340 vpn: encourage encrypted DNS & linkify https
  pages/providers/vpn.html
Labels: 🔒 vpn, 🗄️ dns

#1269 operating-systems: include the supersets instead of just mds
  _includes/sections/operating-systems.html
Labels: ℹ️ help wanted, 🔎 research required
