Repository privacytools/privacytools.io, pull requests merged in 2019-11, with the labels that each got.

#1451 privacytools.io sponsorships
  _includes/footer.html
  _includes/nav.html
  index.html
  pages/sponsors.html
Labels: feedback wanted, wip

#1455 Replace BlahDNS's Switzerland server with its new Finland server
  _includes/sections/dns.html
Labels: 🗄️ dns

#1473 Add team page
  _includes/footer.html
  _includes/head.html
  _includes/nav.html
  _includes/team.html
  assets/img/layout/shield.png
  assets/img/team/blacklight447.png
  assets/img/team/burung.jpg
  assets/img/team/danarel.jpg
  assets/img/team/dawid.png
  assets/img/team/dngray.png
  assets/img/team/jonah.png
  assets/img/team/mikaela.png
  assets/img/team/nitrohorse.jpg
  assets/img/team/trai_dep.jpg
  nginx/020-redirects.conf
  pages/about.html
  pages/contact.md
Labels: wip, ✨ enhancement

#1476 Add link to Firefox privacy blog post
  _includes/sections/browser-tweaks.html
Labels: 👁️ browsers, 🦊 firefox

#1410 search-engines: delist startpage
  _includes/sections/search-engines.html
  assets/img/provider/StartPage.png
Labels: ❌ software removal, 🔎 research required

#1484 Add warning to Cryptomator that its mobile apps are not open-source
  _includes/sections/file-encryption.html
Labels: ios, 🔒 file encryption, 🤖 android

#1491 Delist DiskCryptor
  _includes/sections/file-encryption.html
Labels: ❌ software removal, 🔒 file encryption

#1494 Warn Cryptomator mobile apps not open source in cloud storage
  _includes/sections/cloud-storage.html
Labels: ios, 🤖 android

#1489 Remove Wire
  _includes/sections/instant-messenger.html
  _includes/sections/teamchat.html
  assets/img/tools/wire.png
Labels: ❌ software removal, 🗨️ instant messaging (im)

#1372 dns: cleanup legacy parts
  _includes/sections/dns.html
  pages/providers/dns.html
Labels: 🗄️ dns

#1529 i18n: strip all newlines for Weblate
  _plugins/weblate-source-file.rb
Labels: 🇦🇶 translations

#1500 Redo of instant messenger section (centralized, federated, peer to peer)
  _includes/sections/instant-messenger.html
  _includes/sections/teamchat.html
  assets/img/tools/Briar.png
  assets/img/tools/Jami.png
  assets/img/tools/Matrix-dark.png
  assets/img/tools/Matrix.png
  assets/img/tools/XMPP-dark.png
  assets/img/tools/XMPP.png
  assets/img/tools/qtox-dark.png
  assets/img/tools/qtox.png
Labels: 🗨️ instant messaging (im)

#1543 Add security warning to email lists
  pages/providers/email.html
  pages/software/email.html
Labels: ✨ enhancement, 📧 email

#1547 Update IVPN audit more current information
  _includes/sections/vpn.html
Labels: 🔒 vpn
