Repository privacytools/privacytools.io, pull requests merged in 2020-03, with the labels that each got.

#1672 New email section
  _includes/sections/email-providers.html
  _includes/sections/email-warning.html
  assets/img/svg/3rd-party/anonaddy-dark.svg
  assets/img/svg/3rd-party/anonaddy.svg
  pages/providers/email.html
  pages/software/email.html
Labels: WIP, 📧 email

#1746 Remove Dnswarden [no longer maintained]
  _includes/sections/dns.html
Labels: approved, ❌ software removal, 🗄️ DNS

#1762 Update Posteo payment anonymization
  _includes/sections/email-providers.html
Labels: 📝 correction, 📧 email

#1539 Add AzireVPN
  _includes/sections/vpn.html
  assets/img/svg/3rd-party/azirevpn-dark.svg
  assets/img/svg/3rd-party/azirevpn.svg
Labels: WIP, 🔒 VPN

#1793 VoIP: Jitsi Meet: warn about E2EE, GA & link public instances list
  _includes/sections/voice-video-messenger.html
Labels: 📝 correction, 🗨️ instant messaging (im)

#1775 participate.html: mention the Matrix rooms / XMPP bridge
  _includes/sections/participate.html
Labels: 📝 correction

#1804 privacy-resources: delist The Great Cloudwall
  _includes/sections/privacy-resources.html
Labels: 📝 correction
