Repository privacytools/privacytools.io, pull requests merged in 2020-04, with the labels that each got.

#1836 Cleanup 2.0 instant messenger page
  _includes/sections/instant-messenger.html
  _includes/sections/teamchat.html
  assets/img/svg/3rd-party/bitmessage.svg
  assets/img/svg/3rd-party/tox-dark.svg
  assets/img/svg/3rd-party/tox.svg
  pages/software/real-time-communication.html
Labels: XMPP, [m], 🗨️ instant messaging (im)

#1830 Addition of StartMail
  _includes/sections/email-providers.html
  assets/img/svg/3rd-party/startmail-dark.svg
  assets/img/svg/3rd-party/startmail.svg
Labels: 📧 email

#1840 Site Cleanup
  .gitignore
  _includes/footer.html
  _includes/head.html
  _includes/team.html
  assets/img/png/team/dawid.png
  assets/img/png/team/mikaela.png
  assets/img/svg/team/dawid.svg
  pages/about.html
  pages/services.html
Labels: high priority, 🏠 housekeeping, 📝 correction

#1125 Add .github/stale.yml for stale bot in case we add it
  .github/stale.yml
Labels: 🆘 critical, 🏠 housekeeping

#1850 Software Removal | Minds.com
  _includes/sections/social-networks.html
Labels: ❌ software removal

#1849 Update cardv2 for mobile layouts
  _includes/cardv2.html
  assets/css/style.scss
Labels: 🏠 housekeeping

#1859 Add privacy policy links to Digital Notebooks
  _includes/cardv2.html
  _includes/sections/notebooks.html
Labels: 🖊️ digital notebooks

#1861 Add privacy policy links
  _includes/sections/calendar-contacts-sync.html
  _includes/sections/email-clients.html
  _includes/sections/file-encryption.html
  _includes/sections/hosting-provider.html
  _includes/sections/password-managers.html
  _includes/sections/paste-services.html
  _includes/sections/productivity-tools.html
  _includes/sections/selfhosted-cloud.html
Labels: 🌐 hosting, 📧 email, 🔐 password managers, 🔒 file encryption, 🧰 productivity tools

#1862 Add privacy policy links for OS pages
  _includes/sections/mobile-operating-systems.html
  _includes/sections/operating-systems.html
  _includes/sections/router-firmware.html
Labels: OS

#1592 relist StartPage in Search Engines
  _includes/sections/search-engines.html
  assets/img/svg/3rd-party/startpage.svg
Labels: :mag::robot: Search engine
