Repository privacytools/privacytools.io, pull requests merged in 2020-05, with the labels that each got.

#1876 Add KBFS to Cloud Storage Providers
  _includes/sections/cloud-storage.html
Labels: 📁 file storage

#1873 Remove SecureDNS (service shut down)
  _includes/sections/dns.html
Labels: ❌ software removal, 🗄️ DNS

#1891 Add additional VPN resource links
  assets/img/png/layout/this-video-is-sponsored-by-vpn.png
  pages/providers/vpn.html
Labels: 🔒 VPN

#1907 Update nitrohorse's profile
  pages/about.html
Labels: 🏠 housekeeping
